html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 66.75%; } }
  @media only screen and (min-width: 125em) {
    html {
      font-size: 80%; } }

*,
*::before,
*::after {
  box-sizing: inherit; }

::selection {
  background: #f06800;
  color: #f5f5f5; }

body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #222327;
  background-color: #f5f5f5;
  overflow-x: hidden; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    body > *:not(.ie-alert) {
      display: none !important; } }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  object-fit: cover; }

section {
  padding: 5rem 2rem;
  max-width: 2600px;
  font-size: 1.6rem;
  position: relative;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 56.25em) {
    section {
      padding: 2rem 4rem; } }
  @media only screen and (min-width: 75em) {
    section {
      padding: 6rem 8rem; } }
  section.full-width {
    padding: 0; }
  section.dark {
    background-color: #222327;
    color: #f5f5f5; }

.ie-alert {
  display: none; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .ie-alert {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 2rem;
      height: 100vh;
      width: 100vw;
      max-width: 900px;
      margin: auto;
      padding: 2rem;
      background-color: #f5f5f5; } }

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important; }

.button {
  color: #f5f5f5;
  background-color: #f06800;
  font-size: 1.6rem;
  padding: 0.55rem 4.5rem;
  margin: 1.5rem auto;
  border-radius: 100px;
  text-decoration: none;
  transition: all 0.3s;
  text-transform: uppercase;
  position: relative;
  display: inline-block; }
  .button:hover {
    background-color: rgba(240, 104, 0, 0.8); }

a[href^='tel'] {
  color: inherit;
  text-decoration: none; }

.heading {
  text-align: center;
  line-height: 1.3; }
  .heading--1 {
    font-weight: 700;
    font-size: 4rem; }
    @media only screen and (min-width: 75em) {
      .heading--1 {
        font-size: 6rem; } }
  .heading--2 {
    font-weight: 400;
    font-size: 3rem; }
  .heading--3 {
    font-weight: 400;
    font-size: 3rem;
    position: relative; }
  .heading--4 {
    text-align: left;
    font-weight: 200;
    font-size: 2.4rem; }
  .heading--primary {
    color: #f06800; }

.subheading--orange,
.span--orange {
  color: #f06800;
  font-weight: 700; }

.text-center {
  text-align: center !important; }

.small-text-center {
  text-align: center; }
  @media only screen and (min-width: 56.25em) {
    .small-text-center {
      text-align: left; } }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

body.using-mouse .tab-focus {
  outline: none; }

.accordion {
  list-style: none;
  padding-left: 4rem; }
  .accordion__item {
    position: relative;
    margin: 4rem 0; }
    .accordion__item:last-child {
      margin-bottom: 0; }
  .accordion__trigger {
    appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    color: #f5f5f5;
    padding: 0; }
    .accordion__trigger.active .accordion__arrow {
      transform: rotate(0deg); }
    .accordion__trigger.active ~ .accordion__description {
      visibility: visible;
      opacity: 1;
      max-height: 700px; }
    .accordion__trigger polygon {
      fill: #f5f5f5; }
  .accordion__arrow {
    height: 23px;
    width: 23px;
    position: absolute;
    top: 0;
    left: -3.5rem;
    transform: rotate(-90deg);
    transition: all 0.5s ease;
    transform-origin: center; }
  .accordion__title {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    text-align: left; }
  .accordion__description {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: all 0.5s ease; }

.fade {
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out; }

.fadeFromTop {
  opacity: 0;
  transform: translateY(-2rem); }

.fadeFromTopVisible {
  transform: translateY(0);
  opacity: 1; }

.fadeFromBottom {
  opacity: 0;
  transform: translateY(2rem); }

.fadeFromBottomVisible {
  transform: translateY(0);
  opacity: 1; }

.fadeFromLeft {
  opacity: 0;
  transform: translateX(-2rem); }

.fadeFromLeftVisible {
  transform: translateX(0);
  opacity: 1; }

.fadeFromRight {
  opacity: 0;
  transform: translateX(2rem); }

.fadeFromRightVisible {
  transform: translateX(0);
  opacity: 1; }

body .fadeDelayShort {
  transition: opacity 0.75s 0.4s ease-in, transform 0.75s 0.4s ease-in, background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out; }
  @media only screen and (min-width: 37.5em) {
    body .fadeDelayShort {
      transition: opacity 0.75s ease-in, transform 0.75s ease-in, background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out; } }

body .fadeDelayLong {
  transition: opacity 0.75s 0.6s ease-in, transform 0.75s 0.6s ease-in, background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out; }
  @media only screen and (min-width: 37.5em) {
    body .fadeDelayLong {
      transition: opacity 0.75s ease-in, transform 0.75s ease-in, background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(-4rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes headerText {
  0% {
    width: 0; }
  100% {
    width: 40%; } }

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #f5f5f5; }
  header.stick {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15); }
    @media only screen and (min-width: 75em) {
      header.stick .nav__logo {
        width: 8rem; } }
    @media only screen and (min-width: 75em) {
      header.stick .nav__item {
        margin: 0 1rem; } }
    @media only screen and (min-width: 75em) {
      header.stick .nav__item.hasBtn {
        margin-left: 3.5rem; } }

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 95%;
  margin: auto; }
  @media only screen and (min-width: 75em) {
    .nav {
      justify-content: space-between;
      max-width: 90%; } }
  .nav__logo {
    width: 8rem;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 300;
    transition: all 0.5s ease; }
    @media only screen and (min-width: 75em) {
      .nav__logo {
        width: 12rem; } }
    .nav__logo a {
      display: flex;
      align-items: center; }
  .nav__list {
    width: 100%;
    height: 100vh;
    padding: 0.75rem 0;
    background-color: #f06800;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    align-self: stretch;
    overflow: hidden;
    z-index: 200;
    transition: all 0.5s ease; }
    @media only screen and (min-width: 75em) {
      .nav__list {
        height: auto;
        justify-content: flex-end;
        padding: 0;
        background-color: transparent;
        flex-direction: row;
        position: relative;
        height: auto;
        visibility: visible;
        opacity: 1; } }
    .nav__list.nav-closed {
      visibility: hidden;
      opacity: 0;
      width: 0;
      right: -50%; }
      @media only screen and (min-width: 75em) {
        .nav__list.nav-closed {
          width: 100%;
          visibility: visible;
          opacity: 1;
          right: 0; } }
    .nav__list.nav-open {
      visibility: visible;
      opacity: 1;
      right: 0;
      top: 0;
      position: fixed; }
      @media only screen and (min-width: 75em) {
        .nav__list.nav-open {
          position: static; } }
  .nav__item {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200; }
    .nav__item:nth-child(odd)::after, .nav__item:nth-child(odd)::before {
      display: none; }
      @media only screen and (min-width: 75em) {
        .nav__item:nth-child(odd)::after, .nav__item:nth-child(odd)::before {
          content: '';
          height: 20px;
          width: 1px;
          border-right: 1px solid rgba(34, 35, 39, 0.5);
          display: inline-block; } }
    @media only screen and (min-width: 75em) {
      .nav__item.hasBtn {
        margin-left: 3.5rem; } }
    .nav__item.hasBtn a {
      padding: 1rem 5rem;
      margin: 0 auto; }
      @media only screen and (min-width: 75em) {
        .nav__item.hasBtn a {
          padding: 0.55rem 4.5rem;
          margin: 1.5rem auto; } }
  .nav__link {
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    position: relative;
    text-transform: uppercase; }
    .nav__link:not(.button):link, .nav__link:not(.button):visited {
      color: #f5f5f5;
      padding: 1rem 5rem;
      transition: all 0.25s ease-in-out; }
      @media only screen and (min-width: 75em) {
        .nav__link:not(.button):link, .nav__link:not(.button):visited {
          color: #222327; } }
    .nav__link:not(.button)::after {
      content: '';
      display: block;
      position: absolute;
      width: 50%;
      bottom: 2px;
      left: 50%;
      transform: scaleX(0) translateX(-50%);
      transform-origin: left;
      border-bottom: 1px solid rgba(245, 245, 245, 0.75);
      transition: all 0.25s ease-in-out; }
      @media only screen and (min-width: 75em) {
        .nav__link:not(.button)::after {
          border-bottom: 1px solid #f06800; } }
    .nav__link:not(.button):hover, .nav__link:not(.button):active, .nav__link:not(.button).current {
      color: rgba(245, 245, 245, 0.75); }
      @media only screen and (min-width: 75em) {
        .nav__link:not(.button):hover, .nav__link:not(.button):active, .nav__link:not(.button).current {
          color: #f06800; } }
      .nav__link:not(.button):hover::after, .nav__link:not(.button):active::after, .nav__link:not(.button).current::after {
        transform: scaleX(1) translateX(-50%); }
  .nav__button {
    appearance: none;
    border: none;
    height: 6.5rem;
    width: 6.5rem;
    margin-left: auto;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s; }
    .nav__button:focus {
      outline: none;
      box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5); }
      .nav__button:focus .nav__icon::before {
        top: -0.975rem; }
      .nav__button:focus .nav__icon::after {
        top: 0.975rem; }
    @media only screen and (min-width: 75em) {
      .nav__button {
        display: none; } }
  .nav__icon {
    position: relative;
    margin-top: 2px; }
    .nav__icon, .nav__icon::before, .nav__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #222327;
      display: inline-block;
      z-index: 3000; }
    .nav__icon::before, .nav__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.3s ease-in-out; }
    .nav__icon::before {
      top: -0.875rem; }
    .nav__icon::after {
      top: 0.875rem; }
  .nav__button:hover .nav__icon::before {
    top: -0.975rem; }
  .nav__button:hover .nav__icon::after {
    top: 0.975rem; }
  .nav__button.nav-open .nav__icon {
    background-color: transparent; }
  .nav__button.nav-open .nav__icon::before,
  .nav__button.nav-open .nav__icon::after {
    background-color: #f5f5f5; }
  .nav__button.nav-open .nav__icon::before {
    transform: rotate(135deg);
    top: 0; }
  .nav__button.nav-open .nav__icon::after {
    transform: rotate(-135deg);
    top: 0; }

.anchor-span {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: -80px; }

.hero {
  position: relative;
  padding: 2rem;
  color: #222327;
  background-image: linear-gradient(to bottom, rgba(34, 35, 39, 0.25), rgba(34, 35, 39, 0.25)), url(/img/home-hero--mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 37.5em) {
    .hero {
      background-image: linear-gradient(to bottom, rgba(34, 35, 39, 0.25), rgba(34, 35, 39, 0.25)), url(/img/home-hero--desktop.jpg); } }
  .hero::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222327;
    animation: fade-out 1.5s ease-in-out forwards;
    z-index: 10; }
  @media only screen and (min-width: 75em) {
    .hero {
      min-height: 50rem; } }
  .hero__heading {
    opacity: 0;
    animation: fade-in-down 0.75s 2.25s ease-in-out forwards; }
  .hero__text {
    padding: 3rem 0;
    text-align: center;
    z-index: 20; }
    @media only screen and (min-width: 56.25em) {
      .hero__text {
        align-self: center;
        flex: 0 0 30%; } }
    @media only screen and (min-width: 75em) {
      .hero__text {
        padding: 0;
        flex: 0 0 40%; } }
  .hero h1,
  .hero p {
    color: #f5f5f5; }
  .hero h1 {
    max-width: 50rem;
    margin: auto;
    padding: 3rem 0; }
  .hero p {
    align-self: flex-start;
    font-size: 1.6rem;
    font-weight: 400;
    padding-left: 4px;
    opacity: 0;
    animation: fade-in 0.75s 1.5s ease-in-out forwards; }

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  @media only screen and (min-width: 75em) {
    .about {
      padding: 4.5rem 0; } }
  .about__image {
    flex: 0 1 100%;
    margin: 1rem auto 3rem; }
    @media only screen and (min-width: 37.5em) {
      .about__image {
        flex: 0 1 60%; } }
    @media only screen and (min-width: 75em) {
      .about__image {
        order: 0;
        flex: 0 0 40%;
        justify-content: flex-start;
        margin: 0; } }
  .about__story {
    flex: 1 0 100%; }
    @media only screen and (min-width: 75em) {
      .about__story {
        flex: 0 0 40%; } }
  .about__heading {
    font-size: 2.5rem;
    font-weight: 400;
    padding: 0.5rem 0; }
    @media only screen and (min-width: 75em) {
      .about__heading {
        font-size: 3rem; } }

.tours {
  background-image: url(/img/tours-background.jpg);
  background-size: cover;
  background-position: left;
  display: flex;
  align-items: center; }
  @media only screen and (min-width: 56.25em) {
    .tours {
      background-position: center;
      min-height: 70rem; } }
  .tours__text {
    color: #f5f5f5;
    border-radius: 3px;
    border-top: 7px solid #f06800;
    padding: 3rem 2rem;
    background-color: rgba(34, 35, 39, 0.65);
    width: 90%;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    @media only screen and (min-width: 56.25em) {
      .tours__text {
        display: block;
        margin: 0 0 0 12%;
        width: 450px; } }
    .tours__text p.middle {
      padding: 1rem 0; }

.services__overview {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0; }
  @media only screen and (min-width: 37.5em) {
    .services__overview {
      justify-content: space-around;
      padding: 7rem 7rem; } }
  @media only screen and (min-width: 87.5em) {
    .services__overview {
      padding: 7rem 7rem 0; } }

.services__details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 4rem 2rem 6rem;
  max-width: 1700px;
  margin: auto; }
  @media only screen and (min-width: 56.25em) {
    .services__details {
      padding: 6rem 0;
      flex-wrap: nowrap; } }

.overview__text {
  align-self: flex-start;
  flex: 0 0 100%;
  padding: 3rem; }
  @media only screen and (min-width: 56.25em) {
    .overview__text {
      border-left: 2px solid #f5f5f5;
      flex: 0 0 55%; } }
  @media only screen and (min-width: 87.5em) {
    .overview__text {
      flex: 0 0 40%; } }

.overview__image {
  flex: 0 0 80%;
  padding: 2rem 0 5rem; }
  @media only screen and (min-width: 56.25em) {
    .overview__image {
      flex: 0 0 35%;
      padding: 0;
      transform: translate(-2rem, -17rem); } }
  @media only screen and (min-width: 87.5em) {
    .overview__image {
      flex: 0 0 35%;
      transform: translate(-7rem, -14rem);
      margin-bottom: -5rem; } }

.overview__accordion {
  color: #f5f5f5; }
  .overview__accordion .accordion__item {
    max-width: 50rem; }

.details__column {
  text-align: center;
  margin: 6rem 0; }
  .details__column:first-child, .details__column:last-child {
    margin: 0; }
  @media only screen and (min-width: 56.25em) {
    .details__column {
      margin: 0; } }
  .details__column > h4 {
    font-size: 2rem; }

.details__icon {
  width: 85px;
  height: 85px;
  fill: #f5f5f5;
  margin-bottom: 1rem; }

.details__list {
  padding: 1rem 1rem 1rem 3.5rem;
  text-align: left;
  max-width: 350px;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }
  .details__list > li {
    position: relative;
    width: 100%; }
    .details__list > li::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: -2.5rem;
      top: 5px;
      height: 1.5rem;
      width: 1.5rem;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 426.667 426.667' style='enable-background:new 0 0 426.667 426.667; fill: %23f5f5f5;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M421.876,56.307c-6.548-6.78-17.352-6.968-24.132-0.42c-0.142,0.137-0.282,0.277-0.42,0.42L119.257,334.375 l-90.334-90.334c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.713l102.4,102.4 c6.665,6.663,17.468,6.663,24.132,0L421.456,80.44C428.236,73.891,428.424,63.087,421.876,56.307z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat; }

.trust {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .trust__icon, .trust__text {
    flex: 0 0 100%; }
  .trust__icon {
    fill: #f06800;
    width: 16rem;
    height: 16rem;
    margin-bottom: 1rem; }
    @media only screen and (min-width: 56.25em) {
      .trust__icon {
        flex: 0 1 25%;
        margin-bottom: 0; } }
  .trust__text {
    padding: 2rem 1rem 0; }
    @media only screen and (min-width: 56.25em) {
      .trust__text {
        flex: 0 0 33%;
        padding: 0; } }

.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 0;
  position: relative;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 56.25em) {
    .gallery {
      align-items: stretch;
      padding: 6rem 2rem;
      margin-bottom: 0; } }

.slider {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  overflow: hidden; }
  @media only screen and (min-width: 56.25em) {
    .slider {
      flex: 0 0 55%;
      max-width: 55%; } }
  .slider img {
    transition: transform 1s;
    padding: 0.5rem; }
  .slider__nav {
    position: absolute;
    width: 100%;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    .slider__nav button {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0; }
    @media only screen and (min-width: 56.25em) {
      .slider__nav {
        display: none; } }
  .slider__tracker {
    margin: 0 3rem; }
  .slider__arrow {
    width: 2rem;
    height: 2rem;
    border: none; }

.lineup {
  display: none; }
  @media only screen and (min-width: 56.25em) {
    .lineup {
      display: grid;
      flex: 0 0 33%;
      border-radius: 3px;
      background-color: #fff;
      grid-template-rows: 1fr 70px;
      margin: 0.5rem; } }
  .lineup__images {
    display: flex;
    overflow: hidden; }
  .lineup__group {
    flex: 0 0 100%;
    padding: 2rem 2rem 0;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1.75rem;
    transition: transform 1s; }
    .lineup__group button {
      background: none;
      border: none;
      padding: 0;
      border-radius: 3px;
      display: flex;
      cursor: pointer;
      filter: brightness(0.45);
      position: relative;
      padding-top: 70%;
      overflow: hidden;
      transition: all 0.2s; }
      .lineup__group button img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 100%; }
      .lineup__group button:hover, .lineup__group button.active {
        filter: brightness(1); }
  .lineup__nav {
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .lineup__nav button {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center; }
  .lineup__tracker {
    margin: 0 1.5rem; }
  .lineup__arrow {
    width: 2rem;
    height: 2rem;
    border: none; }

.section--feature {
  background-image: linear-gradient(rgba(34, 35, 39, 0.6), rgba(34, 35, 39, 0.6)), url(/img/feature-background--mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  @media only screen and (min-width: 56.25em) {
    .section--feature {
      background-image: linear-gradient(rgba(34, 35, 39, 0.6), rgba(34, 35, 39, 0.6)), url(/img/feature-background.jpg); } }

.feature {
  background-color: #f5f5f5;
  max-width: 1200px;
  padding: 4rem 1rem;
  margin: 2rem auto;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }
  @media only screen and (min-width: 56.25em) {
    .feature {
      padding: 5rem 1.5rem;
      margin: 4rem auto; } }
  .feature__heading {
    position: relative;
    font-weight: 300;
    margin: -5px 0 3rem; }
    .feature__heading::after {
      content: "";
      width: 8rem;
      height: 3px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -1.8rem;
      background-color: #f06800; }
      @media only screen and (min-width: 56.25em) {
        .feature__heading::after {
          left: 0;
          transform: translateX(0); } }
  .feature__text {
    flex: 0 0 90%; }
    @media only screen and (min-width: 56.25em) {
      .feature__text {
        flex: 0 0 45%; } }
  .feature__image {
    flex: 0 0 80%;
    order: -1;
    margin-bottom: 1.5rem; }
    @media only screen and (min-width: 56.25em) {
      .feature__image {
        flex: 0 0 40%;
        order: 0;
        margin-bottom: 0; } }

section.full-width.section--testimonials {
  padding: 5rem 2rem; }
  @media only screen and (min-width: 56.25em) {
    section.full-width.section--testimonials {
      padding: 5rem 5rem 0; } }

.testimonials {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  margin: 4rem auto 0;
  overflow: hidden; }
  @media only screen and (min-width: 37.5em) {
    .testimonials {
      padding: 7rem 3rem;
      margin: auto;
      max-width: 1100px; } }
  @media only screen and (min-width: 87.5em) {
    .testimonials {
      max-width: 1800px; } }
  .testimonials__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 9rem;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100; }
    @media only screen and (min-width: 37.5em) {
      .testimonials__btn {
        background-color: #222327; } }
    .testimonials__btn--left {
      left: -3.5rem; }
      @media only screen and (min-width: 37.5em) {
        .testimonials__btn--left {
          left: -1.5rem; } }
    .testimonials__btn--right {
      right: -3.5rem; }
      @media only screen and (min-width: 37.5em) {
        .testimonials__btn--right {
          right: -1.5rem; } }
  .testimonials__arrow {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    fill: #f5f5f5; }

.testimonial {
  padding: 2rem 3rem;
  transition: transform 1s;
  position: relative;
  flex: 0 0 100%; }
  .testimonial::before {
    content: '';
    position: absolute;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 310.284 310.284' style='enable-background:new 0 0 310.284 310.284;fill: %23f5f5f5' xml:space='preserve'%3E%3Cpath d='M155.142,0C69.597,0,0,69.597,0,155.142s69.597,155.142,155.142,155.142s155.142-69.597,155.142-155.142 S240.688,0,155.142,0z M79.171,231.401c-1.746,1.182-6.129,2.222-8.693-0.625l-4.731-5.95c-2.288-3.869,0.483-7.457,2.277-8.945 c8.529-7.075,14.731-12.548,18.601-16.419c7.589-7.981,13.199-15.97,16.903-23.935c0.847-1.821-1.315-2.977-2.438-3.345 c-27.967-9.166-41.955-25.325-41.955-48.474c0-13.639,4.53-24.722,13.585-33.242c9.059-8.525,20.407-12.785,34.041-12.785 c12.146,0,22.909,5.539,32.283,16.621c9.165,10.438,13.744,21.735,13.744,33.881C152.789,163.78,128.251,198.185,79.171,231.401z M185.61,231.401c-1.746,1.182-6.129,2.222-8.693-0.625l-4.731-5.95c-2.288-3.869,0.483-7.457,2.277-8.945 c8.528-7.075,14.731-12.548,18.601-16.419c7.589-7.981,13.199-15.97,16.904-23.935c0.847-1.821-1.315-2.977-2.438-3.345 c-27.967-9.166-41.955-25.325-41.955-48.474c0-13.639,4.53-24.722,13.585-33.242c9.06-8.525,20.407-12.785,34.041-12.785 c12.146,0,22.909,5.539,32.283,16.621c9.164,10.438,13.744,21.735,13.744,33.881C259.228,163.78,234.69,198.185,185.61,231.401z'/%3E%3C/svg%3E%0A");
    background-color: #222327;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 7rem;
    height: 7rem;
    border-radius: 50%; }
  @media only screen and (min-width: 37.5em) {
    .testimonial {
      padding: 2rem 6rem; } }
  @media only screen and (min-width: 56.25em) {
    .testimonial {
      flex: 0 0 100%; } }
  @media only screen and (min-width: 87.5em) {
    .testimonial {
      flex: 0 0 50%; } }
  .testimonial__content {
    border: 2px solid #f5f5f5;
    border-radius: 3px;
    padding: 1rem; }
    @media only screen and (min-width: 37.5em) {
      .testimonial__content {
        padding: 2rem; } }
  .testimonial__info {
    text-align: center;
    font-weight: 600;
    font-size: 2.4rem;
    padding: 4.5rem 0 2rem; }
    @media only screen and (min-width: 37.5em) {
      .testimonial__info {
        padding: 3.5rem 0 2rem; } }
  .testimonial__text {
    margin: 0;
    overflow-y: scroll;
    max-height: 300px; }
    @media only screen and (min-width: 56.25em) {
      .testimonial__text {
        overflow-y: unset;
        max-height: none; } }

.contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .contact__intro {
    max-width: 800px;
    margin: 2rem auto; }
    @media only screen and (min-width: 56.25em) {
      .contact__intro {
        text-align: center; } }
  .contact__form {
    flex: 0 0 100%;
    order: 2; }
    @media only screen and (min-width: 75em) {
      .contact__form {
        flex: 0 0 40%;
        order: 1; } }
    @media only screen and (min-width: 87.5em) {
      .contact__form {
        flex: 0 0 50%; } }
  .contact__map {
    order: 1;
    flex: 0 1 100%;
    max-width: 600px;
    padding: 2rem;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.075); }
    @media only screen and (min-width: 75em) {
      .contact__map {
        flex: 0 0 40%;
        order: 2;
        margin: 0; } }
    .contact__map iframe {
      width: 100%;
      height: 250px; }
      @media only screen and (min-width: 75em) {
        .contact__map iframe {
          width: 100%;
          height: 100%; } }

.form {
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 37.5em) {
    .form {
      max-width: 75%;
      margin-left: auto;
      margin-right: auto; } }
  @media only screen and (min-width: 75em) {
    .form {
      padding: 2rem; } }
  .form__label {
    color: #222327;
    font-size: 1.6rem;
    text-transform: uppercase; }
  .form__input, .form__textarea {
    appearance: none;
    font-family: "Mulish", sans-serif;
    display: block;
    font-size: 1.6rem;
    margin-bottom: 4.5rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid #222327;
    background-color: #f5f5f5;
    border-radius: 3px;
    width: 100%;
    max-width: 100%; }
  .form__textarea {
    height: 15rem; }
    @media only screen and (min-width: 75em) {
      .form__textarea {
        height: 10rem; } }
    .form__textarea:focus {
      border: 3px solid #222327;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .form__submit {
    appearance: none;
    border: none;
    cursor: pointer;
    margin: 0 auto; }

.success {
  min-height: 100vh;
  background-color: #f5f5f5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 2.4rem; }
  .success__message {
    animation: fade-in 1s ease-out; }
  .success__text {
    margin-bottom: 1rem; }
  .success__link {
    text-transform: uppercase; }

.footer {
  background-color: #222327;
  color: #f5f5f5;
  padding: 2rem;
  font-size: 1.6rem;
  text-align: center;
  display: flex;
  justify-content: center; }
  .footer__content {
    max-width: 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .footer__text, .footer__creds {
    margin: 0.5rem auto; }
  .footer__text {
    flex: 0 0 100%;
    display: inline-block;
    text-decoration: none;
    color: #f5f5f5; }
  .footer__logo {
    width: 10rem;
    height: 10rem; }
  .footer__creds {
    font-weight: 200;
    font-size: 1.25rem; }
