.footer {
  background-color: $color-text;
  color: $color-background;
  padding: $footer-padding-small;
  font-size: 1.6rem;
  text-align: center;
  display: flex;
  justify-content: center;

  &__content {
    max-width: 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__text,
  &__creds {
    margin: 0.5rem auto;

    a {
      color: inherit;
    }
  }

  &__text {
    flex: 0 0 100%;
    display: inline-block;
    text-decoration: none;
    color: $color-background;
  }

  &__logo {
    width: 10rem;
    height: 10rem;
  }

  &__creds {
    font-weight: 200;
    font-size: 1.25rem;
  }
}
